header {
  text-align: center;
  padding-top: 20px;
}
header h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}
header {
  font-family: "Montserrat Alternates", sans-serif;
}
.container h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: xx-large;
}
.card {
  padding: 15px;
}

#today {
  width: 150px;
  text-align: right;
  padding-left: 50px;
  padding-bottom: 50px;
}
.container {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: large;
}
.fiveweather {
  width: 250px;
}
#card-title {
  font-weight: bold;
}
#five-tile {
  padding-top: 7px;
}
#five-day {
  text-align: center;
}
.five-temp-min {
  color: gray;
}
.five-temp-max {
  font-weight: 500;
}

#git {
  padding-top: 15px;
  padding-bottom: 15px;
}
