body {
  background-color: #6f6a95;
}
header {
  padding-top: 20px;
  padding-left: 40px;
}
header h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  color: white;
}
header {
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
}

button {
  background-color: #acaac2;
  font-weight: 500;
}

#button {
  background-color: #acaac2;
  font-weight: 500;
}

.container h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: white;
}
.card {
  padding: 15px;
  background-color: #acaac2;
}

#today {
  width: 150px;
  text-align: right;
  padding-left: 15px;
  padding-bottom: 15px;
}
.container {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: large;
}
.fiveweather {
  width: 250px;
}
#card-title {
  font-weight: bold;
}
#five-tile {
  padding-top: 7px;
}
.five-day {
  text-align: center;
}
.five-temp-min {
  color: #7e7aa0;
}
.five-temp-max {
  font-weight: 500;
}

#git {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
}

#cel-link {
  color: black;
}

#far-link {
  color: black;
}
